<div class="container-fluid bestof">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-2">
      <h2>Best of</h2>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row" *ngFor="let cat of categories()">
    <div *ngIf="teamStats != undefined && teamStats[cat] != undefined" class="col-4 align-middle" [innerHtml]="teamStats[cat].teamName"></div>
    <div *ngIf="teamStats != undefined && teamStats[cat] != undefined" class="col-2">{{teamStats[cat].characteristic}}{{teamStats[cat].unit}}</div>
    <div *ngIf="teamStats != undefined && teamStats[cat] != undefined" class="col-6">{{catDesc(cat)}}</div>
  </div>
</div>