<div class="container-fluid">
    <!-- Runde 2 -->
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
      <div class="col-auto">
        <h1>Runde 2</h1>
      </div>
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 progress-white left perc90">
        <div class="d-inline-flex h-100 align-items-center">
          <h2>4Qt</h2>
        </div>
        <div class="content-white d-inline-flex float-right">
          <button class="btn btn-circle color-white">50</button>
        </div>
      </div>
      <div class="col-12 col-md-6 progress-yellow right perc90">
        <div class="content-yellow d-inline-flex">
          <button class="btn btn-circle">40</button>
        </div>
        <div class="d-inline-flex h-100 align-items-center float-right">
          <h2>Friendly fire</h2>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-12 col-md-6 progress-yellow left perc100">
        <div class="d-inline-flex h-100 align-items-center">
          <h2 class="strikethrough">AllesNurGeCloud</h2>
        </div>
        <div class="content-yellow d-inline-flex float-right">
          <button class="btn btn-circle">0</button>
        </div>
      </div>
      <div class="col-12 col-md-6 progress-white right perc100">
        <div class="content-white d-inline-flex">
          <button class="btn btn-circle color-white">100</button>
        </div>
        <div class="d-inline-flex h-100 align-items-center float-right">
          <h2>The Pirates of Tensor Flow</h2>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-12 col-md-6 progress-white left perc10">
        <div class="d-inline-flex h-100 align-items-center">
          <h2>Play4Xam</h2>
        </div>
        <div class="content-white d-inline-flex float-right">
          <button class="btn btn-circle color-white">10</button>
        </div>
      </div>
      <div class="col-12 col-md-6 progress-yellow right perc10">
        <div class="content-yellow d-inline-flex">
          <button class="btn btn-circle">0</button>
        </div>
        <div class="d-inline-flex h-100 align-items-center float-right">
          <h2>HTTP/2.0 418</h2>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-12 col-md-6 progress-white left perc80">
        <div class="d-inline-flex h-100 align-items-center">
          <h2>Genossen</h2>
        </div>
        <div class="content-white d-inline-flex float-right">
          <button class="btn btn-circle color-white">57</button>
        </div>
      </div>
      <div class="col-12 col-md-6 progress-yellow right perc80">
        <div class="content-yellow d-inline-flex">
          <button class="btn btn-circle">9</button>
        </div>
        <div class="d-inline-flex h-100 align-items-center float-right">
          <h2>LabAttack</h2>
        </div>
      </div>
    </div>
    <!-- End Runde 2 -->
    <!-- Runde 1-->
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
      <div class="col-auto">
        <h1>Runde 1</h1>
      </div>
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 progress-white left perc100">
        <div class="d-inline-flex h-100 align-items-center">
          <h2>4Qt</h2>
        </div>
        <div class="content-white d-inline-flex float-right">
          <button class="btn btn-circle color-white">100</button>
        </div>
      </div>
      <div class="col-12 col-md-6 progress-yellow right perc100">
        <div class="content-yellow d-inline-flex">
          <button class="btn btn-circle">0</button>
        </div>
        <div class="d-inline-flex h-100 align-items-center float-right">
          <h2 class="strikethrough">QuTies</h2>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-12 col-md-6 progress-white left perc100">
        <div class="d-inline-flex h-100 align-items-center">
          <h2>Friendly fire</h2>
        </div>
        <div class="content-white d-inline-flex float-right">
          <button class="btn btn-circle color-white">99</button>
        </div>
      </div>
      <div class="col-12 col-md-6 progress-yellow right perc100">
        <div class="content-yellow d-inline-flex">
          <button class="btn btn-circle">1</button>
        </div>
        <div class="d-inline-flex h-100 align-items-center float-right">
          <h2 class="strikethrough">glimpseofbdd</h2>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <!-- End Runde 1 -->
  </div>