<div class="container-fluid">
  <div class="container-fluid header-container">
    <div class="row">
      <div class="col-9 col border-yellow-left-bottom">
        <img *ngIf="!isOffline" class="img-fluid" src="assets/img/logo-yellow.png" />
        <img *ngIf="isOffline" class="img-fluid" src="assets/img/hackathoff.png" />
      </div>
      <div class="col-3 d-flex align-items-center border-yellow-bottom-right">
        <nav class="navbar navbar-toggleable-sm mx-auto">
          <button class="navbar-toggler navbar-toggler-left navbar-light" type="button" data-toggle="collapse" 
          data-target="#navbarContent" aria-controls="navbarContent" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {{isActive('/games')}} btn-outline-primary" routerLink="/games">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{isActive('/stats')}} btn-outline-primary" routerLink="/stats">Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{isActive('/teams')}} btn-outline-primary" routerLink="/teams">Teams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{isActive('/board')}} btn-outline-primary" routerLink="/board">Board</a>
              </li>
              <li class="nav-item" *ngIf="!isOffline">
                <a class="nav-link {{isActive('/match')}} btn-outline-primary" routerLink="/match">Match</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>