.border-yellow-left-bottom {
    border-left: 5px solid var(--yellow);
    border-bottom: 5px solid var(--yellow);
    padding: 15px;
}

.border-yellow-bottom-right {
    border-bottom: 5px solid var(--yellow);
    border-right: 5px solid var(--yellow);
    padding: 15px;
}

.border-yellow-bottom {
    border-bottom: 5px solid var(--yellow);
    padding: 15px;
}

.header-container {
    margin-top: 10px;
    margin-bottom: 15px;
}

.navbar {
    position: absolute;
    right: 15px;
}

.btn, .btn-primary {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
}
.btn:active, .btn:hover,
.btn:focus, .btn:visited,
.btn-primary:active, .btn-primary:hover,
.btn-primary:focus, .btn-primary:visited {
    border: none;
}

@media (max-width: 767px) {
    .navbar {
        right: 55px;
    }

    .navbar-collapse {
        position: absolute;
        right: 16px;
        top: 8px;
        z-index: 1090;
    }

    .navbar-nav .nav-link {
        padding-left: 5px;
        padding-right: 5px;
    }
}