<div class="container-fluid">
  <!-- Runde 2 -->
  <div class="row">&nbsp;</div> 
  <div class="row">
      <div class="col"><hr></div>
      <div class="col-auto"><h1>Runde 2</h1></div>
      <div class="col"><hr></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 border-white-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1 class="winner">4Qt</h1>
      </div>
      <div class="content-white noborder-left d-inline-flex float-right">
        <button class="btn btn-circle winner">100</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">0</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>Friendly fire</h1>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>AllesNurGeCloud</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">40</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle winner">50</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>The Pirates of Tensor Flow</h1>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>Play4Xam</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">19</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle winner">67</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>HTTP/2.0 418</h1>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-white-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1 class="winner">Genossen</h1>
      </div>
      <div class="content-white noborder-left d-inline-flex float-right">
        <button class="btn btn-circle winner">77</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">23</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>LabAttack</h1>
      </div>
    </div>
  </div>
  <!-- End Runde 2 -->
  <!-- Runde 1-->
  <div class="row">&nbsp;</div> 
  <div class="row">
      <div class="col"><hr></div>
      <div class="col-auto"><h1>Runde 1</h1></div>
      <div class="col"><hr></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 border-white-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1 class="winner">4Qt</h1>
      </div>
      <div class="content-white noborder-left d-inline-flex float-right">
        <button class="btn btn-circle winner">100</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">0</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>QuTies</h1>
      </div>
    </div>
  </div> 
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-white-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1 class="winner">Friendly fire</h1>
      </div>
      <div class="content-white noborder-left d-inline-flex float-right">
        <button class="btn btn-circle winner">99</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">1</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>glimpseofbdd</h1>
      </div>
    </div>
  </div>
  <!-- End Runde 1 -->
</div>
