/* .border-yellow-left-bottom {
    border-left: 5px solid var(--yellow);
    border-bottom: 5px solid var(--yellow);
    padding-right: 0;
}

.border-yellow-right-top {
    border-right: 5px solid var(--yellow);
    border-top: 5px solid var(--yellow);
    padding-left: 0;
}

.border-white-left-bottom {
    border-left: 5px solid var(--white);
    border-bottom: 5px solid var(--white);
    padding-right: 0;
}

.border-white-right-top {
    border-right: 5px solid var(--white);
    border-top: 5px solid var(--white);
    padding-left: 0;
}

.content-yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.content-white {
    background-color: var(--white);
    color: var(--black);
}

.noborder-left {
    margin-bottom: -5px;
}

.noborder-right {
    margin-top: -5px;
}

.btn-circle {
    background-color: var(--black);
    color: var(--yellow);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 0;
    font-size: calc(40% + 2vw);
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

h1 {
    color: var(--yellow);
    font-size: calc(10% + 2vw);
    margin-bottom: 0;
}

.winner {
    color: var(--white);
}

h1.winner{
    letter-spacing: 0.5vw;
}

hr {
    border-top: 5px dotted var(--yellow);
}

.strikethrough {
    text-decoration: line-through;
} */

.bg-white {
    background-color: var(--white);
    color: var(--black);
}

.bg-yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.btn-circle {
    background-color: var(--black);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 0;
    font-size: calc(40% + 2vw);
}

.btn-circle.bg-white {
    color: var(--white);
}

.btn-circle.bg-yellow {
    color: var(--yellow);
}

h1 {
    font-size: calc(10% + 2vw);
    margin-bottom: 0;
}