.progress-white:after {
    background-color: var(--white);
}

.progress-yellow:after {
    background-color: var(--yellow);
}

.progress-white h2 {
    color: var(--white);
}

.progress-yellow h2 {
    color: var(--yellow);
}

.left h2 {
    padding-left: 15px;
}
.right h2 {
    padding-right: 15px;
}

.progress-white:after,
.progress-yellow:after {
    content:'\A';
    mix-blend-mode: difference;
    position:absolute;
    width: calc(100% - 100px);
    top:0; 
    bottom:0;
}

.progress-white.left:after,
.progress-yellow.left:after {
    left: 15px;
}

.progress-white.right:after,
.progress-yellow.right:after {
    right: 15px;
}

.perc0:after {
    width: 0%;
}
.perc10:after {
    width: calc(calc(100% - 100px) * 0.1);
}
.perc20:after {
    width: calc(calc(100% - 100px) * 0.2);
}
.perc30:after {
    width: calc(calc(100% - 100px) * 0.3);
}
.perc40:after {
    width: calc(calc(100% - 100px) * 0.4);
}
.perc50:after {
    width: calc(calc(100% - 100px) * 0.5);
}
.perc60:after {
    width: calc(calc(100% - 100px) * 0.6);
}
.perc70:after {
    width: calc(calc(100% - 100px) * 0.7);
}
.perc80:after {
    width: calc(calc(100% - 100px) * 0.8);
}
.perc90:after {
    width: calc(calc(100% - 100px) * 0.9);
}
.perc100:after {
    width: calc(100% - 100px);
}

.content-yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.content-white {
    background-color: var(--white);
    color: var(--black);
}

.noborder-left {
    margin-bottom: -5px;
}

.noborder-right {
    margin-top: -5px;
}

.btn-circle {
    background-color: var(--black);
    color: var(--yellow);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 0;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--yellow);
}

h2 {
    font-size: calc(10% + 2vw);
    margin-bottom: 0;
}

.color-white {
    color: var(--white);
}

hr {
    border-top: 5px dotted var(--yellow);
}

.strikethrough {
    text-decoration: line-through;
}

.row {
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: calc(60% + 2vw);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h2 {
        font-size: calc(30% + 2vw);
    }
}