<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>4Qt</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">9</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">11</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>QuTies</h1>
      </div>
    </div>
  </div> 
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>Friendly fire</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">9</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">11</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>glimpseofbdd</h1>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>AllesNurGeCloud</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">9</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">11</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>The Pirates of TF</h1>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>-</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">9</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">11</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>HTTP/2.0 418</h1>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div> 
  <div class="row">
    <div class="col-12 col-md-6 border-yellow-left-bottom">
      <div class="d-inline-flex h-100 align-items-center">
        <h1>-</h1>
      </div>
      <div class="content-yellow noborder-left d-inline-flex float-right">
        <button class="btn btn-circle">9</button>
      </div>
    </div>
    <div class="col-12 col-md-6 border-yellow-right-top">
      <div class="content-yellow noborder-right d-inline-flex">
        <button class="btn btn-circle">11</button>
      </div>
      <div class="d-inline-flex h-100 align-items-center float-right">
        <h1>-</h1>
      </div>
    </div>
  </div>
</div>
