h1 {
    color: var(--yellow);
}

.col {
    padding: 5px;
    /* border: 1px solid black;       */
}

.container {
    margin: 0 15px;
    padding: 0;
}

.card-text > .container {
    max-width: 780px;
    padding: 0;
}

.circle {
    border-radius: 50%;
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 50% 0;
}

.circle > img {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.empty {
    background-color: var(--black);
}

.board {
    background-color: var(--yellow);
}

.token-playerO {
    background-color: #878786;
}

.token-playerX {
    background-color: #fa7d19;
}

.playerO {
    color: #878786;
}

.playerX {
    color: #fa7d19;
}

.card {
    background-color: var(--black);
}

.list-group{
    max-height: 200px;
    width: 300px;
    /* margin-bottom: 10px; */
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
}

.list-group-item {
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--black);
    height: auto;
    width: auto;
    padding: 5px;
}

.list-group-item.active {
    background-color: var(--black);
    color: var(--yellow);
}

.badge-primary {
    background-color: var(--black);
    color: var(--white);
}

.card-header {
    background-color: var(--yellow);
    color: var(--black);
}

.active .badge-primary {
    background-color: var(--white);
    color: var(--black);
}

.sidebar {
    position: absolute;
    top: 164px;
    right: 0;
    width: 320px;
    padding: 10px;
    border: 2px solid var(--yellow);
    border-radius: 5px;
    background-color: var(--black);
}

input {
    width: 300px;
}

.filter-group {
    margin-bottom: 20px;
}

#filterToggle {
    position: absolute;
    top: 139px;
    right: 15px;
}

.card-block {
    padding: 0;
}

.btn, .btn-primary {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
}
.btn:active, .btn:hover,
.btn:focus, .btn:visited,
.btn-primary:active, .btn-primary:hover,
.btn-primary:focus, .btn-primary:visited {
    border: none;
}