<div class="card" *ngIf="selectedBoard !== null && board !== null && (board.boardStatus.gameFinished || selectedTeam !== null)">
  <div class="card-block">
    <h1 class="card-title">
      <span class="playerX">{{board.boardInfo.playerX}}</span>
      <br/> gegen
      <br/>
      <span class="playerO">{{board.boardInfo.playerO}}</span>
    </h1>
    <div *ngIf="board !== null && !board.boardStatus.gameFinished">
      <h6 class="card-subtitle" *ngIf="isMyTurn">
        <span typingAnimation [typeSpeed]="40" [startDelay]="1000">Du bist am Zug ...</span>
      </h6>
      <h6 class="card-subtitle" *ngIf="!isMyTurn">
          <span typingAnimation [typeSpeed]="40" [startDelay]="1000">Bitte warten ...</span>
      </h6>
    </div>
    <div *ngIf="board !== null && board.boardStatus.gameFinished">
      <h6 class="card-subtitle" *ngIf="board.boardStatus.winner === 'X'">
        {{board.boardInfo.playerX}} hat gewonnen!
      </h6>
      <h6 class="card-subtitle" *ngIf="board.boardStatus.winner === 'O'">
        {{board.boardInfo.playerO}} hat gewonnen!
      </h6>
    </div>
    <div *ngIf="board !== null" class="card-text">
      <div class="container">
        <div *ngFor="let col of board.grid; let i = index" class="row">
          <div *ngFor="let val of col; let j = index" class="col board" (click)="columnClicked(j)">
            <div *ngIf="val == null || val === '' || val === ' '">
              <span class="circle empty">&nbsp;</span>
            </div>
            <div *ngIf="val === 'X'">
              <span class="circle token-playerX"><img *ngIf="isWinningPosition(board, i, j)" src="./assets/img/icons/si-glyph-crown.svg"></span>
            </div>
            <div *ngIf="val === 'O'">
              <span class="circle token-playerO"><img *ngIf="isWinningPosition(board, i, j)" src="./assets/img/icons/si-glyph-crown.svg"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="filterToggle" href="#filter" class="btn btn-primary btn-sm" data-toggle="collapse" (click)="filterShows()">Wähle dein Spiel</a>
<div id="filter" class="sidebar collapse {{showFilterClass}}" (change)="filterShows()">
  <div class="filter-group">
    <input type="text" [(ngModel)]="searchTeam" placeholder="Suche nach Team">
    <div class="list-group">
      <a id="{{match.round}}-{{match.team1}}-{{match.team2}}" class="list-group-item {{isActiveMatch(match)}}" href="#" (click)="!!selectMatch(match)" *ngFor="let match of matches | matchfilter : searchTeam">
        <span class="badge badge-pill badge-primary">Runde {{match.round}}</span>
        &nbsp;{{match.team1}} vs. {{match.team2}}
      </a>
    </div>
  </div>
  <div class="filter-group" *ngIf="selectedMatch !== null">
    <input type="text" [(ngModel)]="searchBoard" placeholder="Suche nach Board">
    <div class="list-group">
      <a id="{{board}}" class="list-group-item {{isActiveBoard(board)}}" href="#" (click)="!!selectBoard(board)" *ngFor="let board of selectedMatch.boards | filter : searchBoard">
        {{board}}
      </a>
    </div>
  </div>
  <div class="filter-group" *ngIf="board != null && !board.boardStatus.gameFinished">
    <label>Wähle dein Team</label>
    <div class="list-group">
      <a class="list-group-item {{isActiveTeam(selectedMatch.team1)}}" href="#" (click)="!!selectTeam(selectedMatch.team1)">
        {{selectedMatch.team1}}
      </a>
      <a class="list-group-item {{isActiveTeam(selectedMatch.team2)}}" href="#" (click)="!!selectTeam(selectedMatch.team2)">
        {{selectedMatch.team2}}
      </a>
    </div>
  </div>
</div>