h1 {
    color: var(--yellow);
}

.col-1 {
    padding: 5px;
    /* border: 1px solid black;       */
}

.circle {
    border-radius: 50%;
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 50% 0;
}

.empty {
    background-color: var(--black);
}

.board {
    background-color: var(--yellow);
}

.token-playerO {
    background-color: #878786;
}

.token-playerX {
    background-color: #fa7d19;
}

.playerO {
    color: #878786;
}

.playerX {
    color: #fa7d19;
}

.card {
    background-color: var(--black);
}

.list-group{
    max-height: 200px;
    /* width: 200px; */
    /* margin-bottom: 10px; */
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--black);
    height: auto;
    width: auto;
}

.list-group-item.active {
    background-color: var(--black);
    color: var(--yellow);
}

.badge-primary {
    background-color: var(--black);
    color: var(--white);
}

.card-header {
    background-color: var(--yellow);
    color: var(--black);
}

.active .badge-primary {
    background-color: var(--white);
    color: var(--black);
}

div[id='accordion'] {
    width: 100%;
}