.yellow-bg {
    background-color: var(--yellow);
    color: var(--black);
}

.black-bg {
    background-color: var(--black);
    color: var(--yellow);
}

.yellow-bg a {
    color: var(--black);
}

.black-bg a {
    color: var(--yellow);
}

.goal {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    text-align: right;
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .goal {
        height: 100%;
    }
}